.container{
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 0 20px;
}

.container::-webkit-scrollbar {
    width: 5px;
    background-color: var(--bright)
}

.container::-webkit-scrollbar-thumb {
    background-color: var(--emerald);
}

html[data-theme='light'] .container h4 {
    color: var(--darkGreen);
}

html[data-theme='dark'] .container h4 {
    color:  var(--bright);
}


.UpcomingCard{
    width: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.UpcomingCard h4{
    margin: 10px 0;
}

.UpcomingCard img{
    width: 10vw;
}

@media screen and (min-width: 750px) and (max-width: 1250px) {
    .UpcomingCard h4{
        margin: 8px 0;
        font-size: 12px;
    }

    .UpcomingCard img{
        width: 8vw;
    }
}