.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.actors {
    display: flex;
    flex-direction: column;
}

.actorImg {
    width: 10vw;
    height: 30vh;
}

@media screen and (max-width: 1250px) {
    .actorImg {
        width: 190px;
        height: 290px;
    }
}

@media screen and (max-width: 750px) {
    .container {
        justify-content: center;

    }
    .actorImg{
        margin-right: 10px;
    }
}

@media screen and (min-width: 460px) and (max-width: 750px){
    .actorImg{
        margin: 0;
    }
}