.container {
    width: 20%;
    margin: 20px;
    position: relative;
    transition: transform 0.5s ease;
}

.container:hover .stars{
    visibility: visible;
    transform: translateY(0);
}

.info{
    width: 50%;
    position: absolute;
    bottom: 3px;
}
.imageDiv{
    position: relative;
}

.image {
    width: 15vw;
    height: 40vh;
    transition: transform 0.5s ease;
}

.image:hover {
    transform: scale(1.1);
}

.wrapper {
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.stars{
    visibility: hidden;
    display: flex;
    align-items: center;
    position: absolute;
    top: 45%;
    left: 15%;
    background-color: white;
    padding: 5px 10px;
    opacity: 0.8;
    border-radius: 10px;
    transition: transform 0.5s ease;
    transform: translateY(100%);
}

@media screen and (min-width: 750px) and (max-width: 1250px) {
    .image{
        height: 250px;
    }
}

@media screen and (max-width: 750px) {

    .container {
        width: 45%;
        margin: 10px;
        display: flex;
        justify-content: center;
    }

    .image{
        width: 190px;
        height: 290px;
    }
}

@media screen and (max-width: 500px) {
    .container {
        width: 80%;
    }
}