.container {
    display: flex;
    align-items: center;
}

.links {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 30px;
}

.menuButton {
    display: none;
}

.menuIcon, .closeIcon {
    display: none !important;
    color: var(--basic-white);
}

html[data-theme='light'] .container {
    background-color: var(--bright);
    border-bottom: 1px solid white;
}

html[data-theme='dark'] .container {
    background-color: var(--darkGreen);
}

html[data-theme='light'] .containerMobile {
    background-color: var(--bright);
    border-bottom: 1px solid white;
}

html[data-theme='dark'] .containerMobile {
    background-color: var(--darkGreen);
}

@media screen and (min-width: 750px){
    .container {
        width: 100%;
        height: 10vh;
    }
}

@media screen and (max-width: 750px) {
    .container {
        justify-content: flex-start;
        height: 50px;
    }

    .containerMobile {
        height:100vh;
        padding: 10px 0;
    }

    .menuButton {
        display: flex;
    }

    .menuIcon, .closeIcon {
        display: flex !important;
    }

    .links {
        display: none;
    }

    .linksMobile {
        width: 100%;
        height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .link {
        font-size: 45px;
    }
}

/*@media screen and (max-width: 500px) {*/
/*    .linksMobile {*/
/*        width: 80%;*/
/*        display: flex;*/
/*        flex-wrap: wrap;*/
/*    }*/

/*    .linksMobile a {*/
/*        margin: 0 10px 5px 0;*/
/*    }*/
/*}*/