.container {
    width: 15vw;
    height: 300vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container h3{
    margin: 0;
    padding: 5px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    margin: 10px;
    padding: 0 20px;
}

html[data-theme='light'] .container {
    background-color: var(--bright);
}

html[data-theme='dark'] .container {
    background-color: var(--darkGreen);
}

html[data-theme='light'] .container h3 {
    color: var(--dark);
    background-color: var(--basic-white);
}

html[data-theme='dark'] .container h3 {
    color:  var(--bright);
    background-color: var(--dark);
}

@media screen and (min-width: 750px) and (max-width: 1250px) {
    .container h3{
        padding: 5px 10px;
        font-size: 15px;
    }

    .wrapper{
        padding: 0 10px;
    }
}

@media screen and (max-width: 750px) {
.container{
    display: none;
}
}