.container {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

html[data-theme='light'] .container {
    background-color: var(--bright);
    border-bottom: 1px solid white;
}

html[data-theme='dark'] .container {
    background-color: var(--darkGreen);
}