.container {
    width: 80vw;
    height: 12vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.container button {
    width: 10%;
}


html[data-theme='dark'] .activeButton {
    background-color: #4c4c9f;
}

html[data-theme='light'] .activeButton {
    background-color: #8a8ad3;

}