.container {
    width: 80vw;
    height: 12vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.container button {
    width: 10%;
}

html[data-theme='dark'] .activeButton {
    background-color: var(--turquoise);
}

html[data-theme='light'] .activeButton {
    background-color: var(--emerald);

}

@media screen and (min-width: 750px) and (max-width: 1250px) {
    .container{
        height: 20vh;
    }

    .container button {
        width: 15%;
    }
}

@media screen and (max-width: 750px) {
    .container{
        height: fit-content;
    }

    .container button {
        width: 35%;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 500px) {
    .container button {
        width: 80%;

    }
}
