body {
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  overflow-x: hidden;

  &::-webkit-scrollbar{
    width: 10px;
    background-color: lavender;

  }

  &::-webkit-scrollbar-thumb {
    background-color: #8a8ad3;
    border-radius: 10px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: white;
  transition: 0.5s;

  &:disabled{
    opacity: 0.2;
  }
}

.themeTwitchContainer{
  display: flex;

  button {
    padding: 10px 25px;
  }
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 10vh;
  border-top: 1px solid white;
}

html[data-theme='dark'] {
  background-color: #1a0b25;
  color: white;

  .footer{
    background-color: #30124d;
  }

  button {
    background-color: #30124d;

    &:hover {
      background-color: #4c4c9f;
    }
  }

  .active-button {
    background-color: #4c4c9f;
  }
}

html[data-theme='light'] {
  background-color: white;

  .footer{
    background-color: lavender;
  }

  button {
    background-color: lavender;

    &:hover {
      background-color: #8a8ad3;
    }
  }

  .activeButton {
    background-color: #8a8ad3;
  }
}
